$shadow: #536e87;
$btn-hover: #536e87;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.logo {
  width: 60px;
  margin: 0 40px 0 1rem;
}

.logo-img {
  width: 100%;
}

.nav-bar {
  display: flex;
  max-width: 90%;
  margin: 10px auto;
  padding: 5px 5px 50px 5px;
  align-items: center;
}

.navigation {
  display: flex;
  list-style: none;

  .link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
  }

  .link:hover,
  .active {
    color: #d5a100;
    text-decoration: underline;
    font-weight: bold;
  }
}

.contact-link {
  margin-right: 10px;
}

.add-new-link {
  padding: 0 20px;
  margin: 0 20px;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid black;
  box-shadow: 3px 3px #536e87;
  margin-bottom: 1rem;
}

.poke-img {
  width: 80%;
  height: 80%;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-bottom: 2.5rem;
}

.card-title {
  display: flex;
  align-items: center;
}

.title {
  padding-right: 3rem;
}

.like {
  border: none;
  background: none;
  cursor: pointer;
  background-image: url('./images/like.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
}

.like:hover {
  background-image: url('./images/heart.png');
}

.count {
  display: contents;
}

.likes-count {
  align-self: end;
  padding: 0.5rem 0 0.2rem;
}

.btns {
  display: flex;
  flex-direction: column;
}

.comment,
.reservation {
  background: none;
  border: 2px solid black;
  box-shadow: 3px 3px $shadow;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 5px;
}

.comment:hover,
.reservation:hover {
  background: $btn-hover;
  color: #fff;
}

footer {
  max-width: 100%;
  padding: 5px 5px 5px 15px;
  border: 2px solid #000;
  background-color: #fff;
  margin-top: 2rem;
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  align-content: center;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 95%;
  width: 95%;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 3px solid #000;
  align-content: center;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 28px;
}

.scroll {
  overflow-y: hidden;
}

.image-popup {
  display: flex;
  justify-content: center;
}

.popup-img {
  padding-top: 20px;
  width: 25%;
  height: 25%;
}

.poke-title {
  font-size: 3em;
}

.pokeInfo {
  gap: 10px;
  text-align: left;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 77px;
  font-weight: bold;
}

.pop-title {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.form {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 20px;
  width: 300px;
  justify-content: center;
}

.formName,
.formInsight {
  border: 2px solid;
  padding: 2px;
}

.formButton {
  background: none;
  border: 2px solid black;
  box-shadow: 3px 3px $shadow;
  cursor: pointer;
  margin: 0.5rem 0;
  padding: 5px;
  width: 200px;
}

.formContain {
  display: flex;
  justify-content: center;
}

.commentContain {
  margin-top: 50px;
  margin-bottom: 50px;
}

.commentTitle {
  text-align: center;
  margin-top: 50px;
}

.commentInfo {
  display: flex;
  justify-content: center;
}

.closeBtn {
  display: block;
  position: absolute;
  right: 10px;
  transition: 0.3s;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url('./images/close.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
